*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    -webkit-tap-highlight-color: transparent;
}

body{
    font-family: 'figtree', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* gap: 10px; */
    background-color: #fff;
}

.ec{
    display: flex;
    flex-direction: column;
    /* min-width: 100%; */
}
.ficon {
    font-family: 'ChessGlyph';
    display: inline-block;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    font-weight: 400; 
    transform: translateZ(0);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: geometricPrecision;

}

.unit-icon-container{
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 14px solid #e8e7e6;
    border-radius: 50%;
}

.theSVG{
    width: 100px;
    height: 100px;
}

.level-name{
    font-size: 1.7rem;
    margin-bottom: 30px;
}
.level-icon{
    color: #777574;
    font-size: 3.1rem;
    margin-right: 5px;
    transform: translateY(4px);
}

.unit-card{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 96%;
    padding: 10px;
    background-color: #fff;
}

.unit-title{
    font-size: 1.6rem;
    margin-top: 15px;
}

.description-container{
    /* margin: 20px; better for phone */
    margin: 20px 0;
    white-space: pre-wrap;
    font-size: 0.97rem;
    line-height: 1.2;
    padding: 0 20px
}

.description-headline{
    font-weight: 550;
}

.description-container ul{
    margin-left: 20px;
}

.description-container ul li:last-of-type{
    font-weight: 550;
}

.lessons-container{
    width: 100%;
    margin: 0 auto;
}

.lessons-container a{
    display: block;
    text-decoration: none;
}

.lesson-card{
    background-color: #fff;
    padding: 10px;
    border-top: 1px solid #d0d0d0;
    border-radius: 5px;
    cursor: pointer;
}
.lesson-card:hover{
    background-color: #f0f0f0;
}

.lesson-title{
    color: #005e94;
    margin: 10px 0;

}

.lesson-description{
    color: #4b4847;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;

}

.lesson-thumbnail{
    background: url(assets/video-preview.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 130px;
    height: 130px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.play-icon-background{
    position: relative;
    width: 58px;
    height: 58px;
    color: #fff;
    background-color: #f7931a;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 9999px;
    z-index: 3;
}

.play-icon{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-47%, -49%);
    font-size: 2.2rem;
}

.thumbnail-img{
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;

}

.lessonTagsContainer{
    color: #777574;
    margin: 10px 5px 0 0px;
}  

.duration-icon{
    font-size: 1.1rem;
    margin-right: 5px;;
}

.unit-info-card{
    color: #777574;
    border-radius: 5px;
    padding: 10px;
}

.info-card-title{
    background-color: #f1f1f1;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 7px;
}

.info-tag-icon{
    font-size: 1.2rem;
    margin-right: 5px;
}

.info-tag{
    /* margin-left: 5px; */
    margin: 5px
}

/* the icon */
.save-link{
    margin-left: 5px;
    margin-right: 9px;
}

.unit-info-card div:last-of-type{
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #999;
}

/* the whole element (div) */
.unit-info-card a:last-of-type{
    display: inline-block;
    text-decoration: underline;
    cursor: pointer;
    padding-bottom: 10px;
}

span:has(+ .level-info-value){
    font-size: 1.5rem;
    margin-left: 2px;
    margin-right: 10px;
}

@media (min-width: 800px){
    .ec{
        display: flex;
        flex-direction: row;
    }

    .unit-card{
        /* border-right: 1px solid #888; */
        width: 100%;
    }
    .lessons-container{
        width: 100%
    }
    
    .unit-info-card{
        min-width: 300px;
        max-height: fit-content;
        padding: 0;
        border: 1px solid #b8b8b8;
        margin: 20px 20px 0 0;
        /* border-radius: 10px; */
        overflow: hidden;
        position: sticky;
        top: 20px;
    }

    .info-card-title{
        background-color: #fff;
    }

    .lessons-container a {
        display: flex;
    }
    .lesson-card .lesson-thumbnail {
        min-width: 190px;
        min-height: 190px;
        margin: 10px;
    }
    
    .lesson-details-container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: 20px;
        padding-bottom: 10px;
    }
}