*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.navbar{
    background: linear-gradient(to bottom, #779556, #66814a);
    border-bottom: 1px solid #666;
    height: 70px;
    display: flex; 
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    top: 0;
    /* right: 0; */
    z-index: 9;
    transition: 0.3s ease-in-out;
}

.navbar.hide{
    transform: translateY(-100%);
}

.nav-toggle{
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
}
.nav-toggle svg{
    fill: #fff;
}

.donate{
    padding: 10px;
    margin-right: 15px;
    background-color: #f7931a;
    font-weight: 600;
    font-size: 0.9rem;
    border: none;
    border-bottom: 1px solid rgb(173, 109, 33);
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
}

.donate:hover{
    background-color: #e8840c;
}


.links-container{
    top: 0;
    left: 0;
    position: fixed;
    display: flex;
    flex-direction: column;
    transform: translateX(-100%);
    background-color: #fff;
    height: 100%;
    width: 300px;
    transition: transform 0.4s ease;
    z-index: 10;
}

.links-container .nav-toggle{
    position: absolute;
    top: 0;
    right: 0;
    /* padding: 20px; */
}

.overlay{
    position: fixed;
    z-index: 9;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    background-color: #00000083;
    transform: background-color 0.4s ease;
}

.links-container svg{
    fill: #444
}

.links-container a{
    padding: 15px;
    text-decoration: none;
    color: #000;
    transition: 0.3s ease;
}

.links-container a:hover{
    color: #f7931a;
        
}

.links-container a:first-of-type{
    margin-top: 40px;
}

.links-container.active{
    transform: translateX(0);
}

.links-container.active ~ .overlay{
    width: 100%;
    height: 100%;
}

.nav-toggle{
    padding: 10px;
}

