*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.navbar{
    background: linear-gradient(to bottom, #779556, #66814a);
    border-bottom: 1px solid #666;
    height: 70px;    
}

.nav-toggle{
    display: flex;
    align-items: center;
    justify-content: center;
}

.links-container{
    max-width: 0;
    overflow: hidden;
}