*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    -webkit-tap-highlight-color: transparent;
}

body{
    font-family: 'figtree', sans-serif;
}

@font-face {
    font-family: 'ChessGlyph';
    src: url('chessglyph-regular.91d65138.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* temoporary */
.main-section{
    margin-top: 70px;
}
/* ignore above */

/* 
.ficon {
    font-family: 'ChessGlyph';
    display: inline-block;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    font-weight: 400; 
    transform: translateZ(0);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: geometricPrecision;

}

.ficon.level-icon{
    font-size: 2em;
    color: #666;
    padding: 0 5px 0 0;
    transform: translateY(5px);
}

.title-main{
    color: #2a2a2a;
    text-align: center;
    font-size: 2.3rem;
    padding: 50px 0 50px;
}

.title-main-highlight{
    color: #86aa4e;
}

.levels{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.main-section{
    margin-top: 70px;
}

.level{
    border-bottom: 1px solid #ddd;
    min-width: 90vw;
}

.level:last-child{
    border-bottom: none;
}

.level-header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
    padding: 0 0 15px 0;
    position: relative;
    min-width: 300px;
    width: 90vw;
}

.level-header .level-toggle{
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.level-toggle::before{
    content: '';
    position: absolute;
    width: 20px;
    height: 4px;
    border-radius: 5px;
    background-color: #86aa4e;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    transition: 0.2s ease;
}

.level-toggle::after{
    content: '';
    position: absolute;
    width: 20px;
    height: 4px;
    border-radius: 5px;
    background-color: #86aa4e;
    top: 50%;
    right: 5px;
    transition: opacity 0.3s ease;
    transform: translateY(-50%) rotate(90deg);
    opacity: 1;
}

.level-header.show .level-toggle::before{
    transform: translateY(-50%) rotate(-180deg);
    background-color: #bdbcb7;
}

.level-header.show .level-toggle::after{
    transform: translateY(-50%);
    background-color: transparent;
    opacity: 0;
}

.level-body{
    max-height: 0;
    opacity: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 0;
    margin: 0;
    overflow: hidden;
    transition: max-height 0.5s ease, opacity 0.4s ease;
    flex-wrap: wrap;
}

.level-header.show + .level-body{
    max-height: 1000px;
    margin-bottom: 15px;
    opacity: 1;
}

.level-body .unit svg{
    height: 80px;
    width: 80px;
}

.level-header h2{
    text-align: center;
}

.unit{
    cursor: pointer;
    width: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.unit-title{
    font-size: 0.9rem;
    font-weight: 600;
    transition: 0.3s ease;
    text-align: center;
}

.svg-container{
    display: inline-block;
    position: relative;
    margin: 20px;
}

.svg-container::before{
    content: '';
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90px;
    height: 90px;
    border: solid 12px #e8e7e6;
    background-color: transparent;
    border-radius: 50%;
    transition: 0.3s ease;
}

.unit:hover .svg-container::before{
    border-color: #e8840c;
}
.unit:hover .unit-title{
    color: #e8840c;
}

footer{
    background-color: rgb(49, 46, 43);
    min-height: 200px;
    width: 100%;
    margin-top: 70px;
} */



















/*Ignore / Donate Page Styles / Ignore */

.donate-page-title{
    font-size: 2.5rem;
    margin-top: 30px;
    text-align: center;
}

.donate-page-text{
    text-align: center;
}

.donation-card{ 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.qr-code{
    background: url(btc-qr-code.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 150px;
    height: 150px;
    margin: 35px 0;
}

.address-container{
    border: 1px solid #ccc;
    display: flex;
}

.btc-address{
    color: #555;
    border-right: 1px solid #ccc;
    padding: 15px 15px 11px 15px ;
}

.copy-address{
    padding: 15px 15px 11px 15px ;
}
.copy-address svg{
    /* fill: #ccc; */
}