body{
    background-color: #312e2b;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
}

.video-container{
    background: url(assets/video-preview.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    max-width: 550px;
    aspect-ratio: 1 / 1;
}

iframe{
    width: 100%;
    max-width: 550px;
    aspect-ratio: 1 / 1;
    border: none;
    display: block;
    margin: 0 auto;
}

.video-info-container{
    background: #312e2b;
    padding: 20px;
}

.video-info-panel{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
    color: hsla(0, 0%, 100%, 0.65);
}

.video-info-panel span{
    /* margin: 0 auto; */
    font-size: 1.2rem;
    font-weight: 600;
}

.video-info-panel .lesson-icon{
    font-size: 1.4rem;
    transform: translateY(-3px);
    margin-right: 7px;
}   

.coach{
    background-color: #4b4847;
    width: 50px;
    height: 50px;
    border-radius: 7px;
    /* overflow: hidden; */
    position: relative;
}

.coach img{
    width: 100%;
    height: 100%;
    border-radius: 7px;
}

.lesson-description-wrapper{
    position: absolute;
    left: 67px;
    min-width: fit-content;
    top: 0;
    background-color: #4b4847;
    border-radius: 10px;
    color: #fff;
    padding: 10px;
}