body{
    background-color: #312e2b;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
}

.main-container{
    max-width: 550px;
}

.video-container{
    background: url(assets/video-preview.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    max-width: 550px;
    aspect-ratio: 1 / 1;
}

iframe{
    width: 100%;
    max-width: 550px;
    aspect-ratio: 1 / 1;
    border: none;
    display: block;
    margin: 0 auto;
}

.video-info-container{
    background-color: #312e2b;
    /* background-color: #f00; */
    padding: 20px;
    max-width: 100%;
    min-height: 300px;
    /* display: flex; */
}

.video-info-panel{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
    color: hsla(0, 0%, 100%, 0.65);
    /* background-color: #ff0; */
}

.video-info-panel span{
    /* margin: 0 auto; */
    font-size: 1.2rem;
    font-weight: 600;
}

.video-info-panel .lesson-icon{
    font-size: 1.4rem;
    transform: translateY(-3px);
    margin-right: 7px;
}   

.coach-section{
    display: flex;
}

.coach{
    background-color: #4b4847;
    width: 50px;
    height: 50px;
    border-radius: 7px;

}

.coach img{
    width: 100%;
    height: 100%;
    border-radius: 7px;
}

.lesson-description-wrapper{
    background-color: #4b4847;
    border-radius: 10px;
    color: #fff;
    padding: 10px;
    flex-grow: 1;
    position: relative;
    margin-left: 15px;
}

.lesson-description-wrapper::before{
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    left: -7px;
    top: 15px;
    background-color: #4b4847;
    /* background-color: #f00; */
    transform: rotate(45deg);
}

